:root {
    --color-white-smoke: #f5f5f5;
    --color-eerie-black: #171717;
    --color-black-green: #1D201D;
    --color-black-olive: #2D352D;
    --color-tiffany-blue: #68DADD;
    --color-ecru: #d2b36d;

    --font-base: 'Ubuntu';
}
    